################################################################################
#                            🌐 WEB (Next.js)                                 #
################################################################################

# Frontend URLs
NEXT_PUBLIC_API_URL="http://localhost:3001"

NEXT_PUBLIC_APP_NAME=Monno

# Stripe
NEXT_PUBLIC_STRIPE_ENABLED=true

# PostHog Analytics
NEXT_PUBLIC_POSTHOG_KEY=phc_xxx
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com

# Sentry
NEXT_PUBLIC_SENTRY_DSN=https://xxx.ingest.us.sentry.io/123
NEXT_PUBLIC_SENTRY_ENVIRONMENT=development # development | staging | production