# Node
node_modules/
pnpm-lock.yaml

# Next.js
.next/
dist/

# Env files
.env
.env.local
.env.development
.env.production
.env.test

# Prisma
prisma/migrations/

# OS
.DS_Store

# Docker
volumes/

# Playwright
tests/.auth/user.json
test-results/
playwright-report/
.playwright-mcp